{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обычная клиника</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body>
    <header class="bg-primary text-white text-center py-1">
        <h1>Обычная Клиника</h1>
    </header>

    <nav class="bg-dark text-white text-center py-2">
        <a href="{% url 'index' %}" class="text-white">Домашняя страница</a> |
        <a href="{% url 'services' %}" class="text-white">Услуги</a> |
        <a href="{% url 'doctors' %}" class="text-white">Врачи</a> |
        <a href="{% url 'about' %}" class="text-white">О нас</a> |
        <a href="{% url 'contacts' %}" class="text-white">Контакты</a>

        <div class="text-right">
            {% if user.is_authenticated %}
                <span class="text-light mr-3">Привет, {{ user.username }}!</span>
                <a href="" class="btn btn-outline-light">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-light mr-2">Login</a>
                <a href="{% url 'register' %}" class="btn btn-outline-light">Register</a>
            {% endif %}
        </div>

    </nav>

    <section class="container my-4">
        {% block content %}

        {% endblock %}
    </section>

    <footer class="bg-dark text-white text-center py-1 fixed-bottom">
        <a href="https://vk.com/theoddknight" class="text-secondary">Автор</a>
    </footer>

    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>