{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/house.jpg' %}" alt="Doctor Photo" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <h2> {{ doctor.full_name }} </h2>
            <p><strong>Department:</strong> {{ doctor.department }} </p>
            <p><strong>Education:</strong> "MD, University Medical School" </p>
            <p><strong>Description:</strong> "Experienced cardiologist with a focus on heart health."</p>
            <p><strong>Schedule:</strong> "Monday to Friday, 9:00 AM - 5:00 PM" </p>
        </div>
    </div>
{% endblock %}



