{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>{{ doctor.get_full_name }}</h2>

        {% if doctor.photo %}
            <img src="{{ doctor.photo.url }}" class="img-fluid mb-3" alt="{{ doctor.get_full_name }}">
        {% else %}
            <img src="{% static 'images/default_doctor_photo.jpg' %}" class="img-fluid mb-3" alt="{{ doctor.get_full_name }}">
        {% endif %}

        <p><strong>Отделение:</strong> {{ doctor.department }}</p>
        <p><strong>Время приема:</strong> {{ doctor.time }}</p>
        <h4>Контактная информация:</h4>
        <p>
            <strong>Email:</strong> {{ doctor.email }}<br>
            <strong>Телефон:</strong> {{ doctor.phone }}
        </p>
    </div>
</div>
{% endblock %}
