{% extends 'layouts/base.html' %}

{% block content %}
    <h2>Врачи</h2>
    <div class="row">
        {% for doctor in doctors %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ doctor.full_name }}</h5>
                        <p class="card-text">{{ doctor.department }}</p>
                        <a href="{% url 'doctor_detail' doctor.id %}" class="btn btn-info">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}