{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <h2 class="display-4">Добро пожаловать в Обычную Клинику</h2>
            <p class="lead">
                Откройте для себя новый стандарт персонализированной медицинской помощи. Наш опытный коллектив готов предоставить вам исключительные медицинские услуги в комфортной и современной обстановке.
            </p>
            <hr class="my-4">
            <p>
                От регулярных проверок до специализированных процедур, ваше благополучие - наш главный приоритет.
            </p>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Наши Услуги</h2>
                <p class="card-text">
                    Исследуйте наш обширный спектр медицинских услуг, предназначенных для решения ваших проблем со здоровьем и поддержания общего благополучия.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Современные Условия</h2>
                <p class="card-text">
                    Наша клиника оснащена современными условиями и последними медицинскими технологиями, чтобы гарантировать вам лучшую возможную заботу о здоровье.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Свяжитесь с нами</h2>
                <p class="card-text">
                    Обычная Клиника<br>
                    Адрес: ул. Примерная, 123<br>
                    Телефон: +7 (800) 555-35-35<br>
                    Электронная почта: info@exampleclinic.ru
                </p>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title">Часы Работы</h2>
                <p class="card-text">
                    Понедельник - Пятница: 9:00 - 18:00<br>
                    Суббота: 10:00 - 15:00<br>
                    Воскресенье: Выходной
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}