{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Services</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body>
    <header class="bg-primary text-white text-center py-1">
        <h1>Medical Services</h1>
    </header>

    <nav class="bg-dark text-white text-center py-2">
        <a href="#" class="text-white">Home</a> |
        <a href="#" class="text-white">Services</a> |
        <a href="#" class="text-white">About Us</a> |
        <a href="#" class="text-white">Contact</a>
    </nav>

    <section class="container my-4">
        <h2>Welcome to our Medical Services</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>

    </section>

    <footer class="bg-dark text-white text-center py-2 fixed-bottom">
        &copy; 2023 Medical Services
    </footer>

    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>
