{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Наши услуги</h2>
        <p>
        У нас очень много всяких разных услуг. Вы обязательно найдёте что-нибудь для себя. 
        </p>

        <div class="row">
            {% for procedure in procedures %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'service_detail' service_id=procedure.id %}">{{ procedure.name }}</a></h5>
                        <p class="card-text">{{ procedure.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
